[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.9.3
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.6.0
[submodule "lib/hardhat-deployer"]
	path = lib/hardhat-deployer
	url = https://github.com/napierfi/hardhat-deployer
